{{#each books}}
  {{#if keep}}
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="{{thumbnail}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{title}}</p>
            <p class="subtitle is-6">{{isbn}}</p>
          </div>
        </div>
        <div class="content">
          {{description}}
          <p> By:  {{author}}</p>
        </div>
        <a id="{{this.id}}" class="button is-small amazon">Amazon</a>
        <a id="{{this.id}}" class="button is-small sell">I want to sell this book</a>
      </div>
    </div>
    <br>
  {{/if}}
{{/each}}

{{#each books}}
  {{#unless keep}}
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="{{thumbnail}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{title}}</p>
            <p class="subtitle is-6">{{isbn}}</p>
          </div>
        </div>
        <div class="content">
          {{description}}
          <p> By:  {{author}}</p>
        </div>
        <a id="{{this.id}}" class="button is-small amazon">Amazon</a>
        <a id="{{this.id}}" class="button is-small keep">I want to keep this book</a>
      </div>
    </div>
    <br>
  {{/unless}}
{{/each}}

<script>
$(".sell").click(function(){
    console.log(this.id);
});
$(".keep").click(function(){
    console.log(this.id);
});
$(".amazon").click(function(){
    var id = this.id
    var url = "/api/books/" + id

    $.get(url).then(function(data){
      $.post("/api/amazon/", {
        isbn: data[0].isbn,
        title: data[0].title
      }).then(function(resdata){
        console.log(resdata)
      })
    })
});
</script>
