<h2>Books that you definitely want to keep:  </h2>
<hr>
{{#each books}}
  {{#if keep}}
    <div class="card">
      <div class="card-content">
      {{title}}
      <br>
      {{author}}
      <br>
      {{isbn}}
      <br>
      {{> books/book-block keep=false}}
      </div>
    </div>
  {{/if}}
{{/each}}


<h2>Books that you're willing to get rid of:  </h2>
<hr>

<ul>
  {{#each books}}
    {{#unless keep}}
      {{title}}
      <br>
      {{author}}
      <br>
      {{isbn}}
      {{> books/book-block keep=true}}

    {{/unless}}
  {{/each}}
</ul>
