<ul>
{{#each books}}
  {{#if keep}}
  <li>
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="{{thumbnail}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{title}}</p>
            <p class="subtitle is-6">{{isbn}}</p>
          </div>
        </div>
        <div class="content">
          {{description}}
          <p> By:  {{author}}</p>
        </div>
        <a id="{{this.id}}" class="button is-large amazon"></a>
        <a id="{{this.id}}" class="button is-medium sell">I want to sell this book</a>
      </div>
    </div>
    <br>
  </li>
  {{/if}}
{{/each}}
</ul>

<ul>
{{#each books}}
  {{#unless keep}}
  <li>
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="{{thumbnail}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{title}}</p>
            <p class="subtitle is-6">{{isbn}}</p>
          </div>
        </div>
        <div class="content">
          {{description}}
          <p> By:  {{author}}</p>
        </div>
        <a id="{{this.id}}" class="button is-small amazon"></a>
        <a id="{{this.id}}" class="button is-medium keep">I want to keep this book</a>
      </div>
    </div>
    <br>
  </li>
  {{/unless}}
{{/each}}
</ul>

<!-- Amazon Search Results Modal -->
<div id="amazon-results" class="modal">
  <div class="modal-background">
    <div class="modal-card">
      <title>Amazon Search Results</title>
      <div class="modal-content">
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
var amazonModal = $('#amazon-results');

$(".modal-close").click(function(event) {
  amazonModal.hide();
  location.reload();
});

$(".sell").click(function(){
    console.log(this.id);
});
$(".keep").click(function(){
    console.log(this.id);
});
$(".amazon").click(function(){
    var id = this.id
    var url = "/api/books/" + id

    $.get(url).then(function(data){
      $.post("/api/amazon/", {
        isbn: data[0].isbn,
        title: data[0].title
      }).then(function(resdata){
        var modalContent = $("<div>");
        var usedPrice = resdata.LowestUsedPrice.FormattedPrice;
        var newPrice = resdata.LowestNewPrice.FormattedPrice;
        var newAvailable = resdata.TotalNew;
        var usedAvailable = resdata.TotalUsed;
        modalContent.html("<p>There are " + newAvailable + " NEW copies on Amazon.com, starting at " +newPrice + ".</p><br><p> There are " + usedAvailable + " USED copies on Amazon.com, starting at " +usedPrice + ".");
        $(".modal-content").empty();
        $(".modal-content").append(modalContent);
        amazonModal.show();
      })
    })
});

</script>
